@use "util/mq";

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: calc(100vw - 50px);
  @include mq.mq($from: desktop) {
    max-width: min(100vw - 50px, 960px);
  }
}
